body {
    font-family: 'Raleway', sans-serif;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 320px;
    color: #666;
}

.grey-bg {
    background-color: #f5f6f7 !important;
}

@media (min-width:768px) {
    .home-container {
        padding-left: 10%;
        padding-right: 10%;
        background: transparent;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .container {
        width: 992px
    }
    .profile-container {
        padding-left: 10%;
        padding-right: 10%;
        background: transparent;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
}

@media (max-width:767px) {
    .home-folio {
        margin-top: 32px;
    }
}

@media (max-width:540px) {
    .nature-cover {
        background: #fff url('../img/nature1.jpg') no-repeat center center !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 160px !important;
        ;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    .nature-mino {
        display: block;
        background: #417640 url('../img/mino.png') no-repeat center center;
        background-size: 36px!important;
        ;
        width: 72px !important;
        ;
        height: 72px !important;
        ;
        border-radius: 92px;
        border: 2px solid #fff;
        position: relative;
        margin: 0 auto !important;
        top: 125px !important;
        ;
        left: 0 !important;
        ;
    }
}

h3 {
    margin-top: 0;
}

.home-card {
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.32);
    width: 300px;
    height: 480px;
    border-radius: 25px;
    transition: all 1.5s ease;
    background: #fff;
    margin: 0 auto;
}

.home-card:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.54);
}

.home-card-top {
    background: #002c41 url('../img/top-card.png') no-repeat top center;
    background-size: cover;
    height: 200px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.home-card-circle {
    background: #002c41 url('../img/mino.png') no-repeat center center;
    background-size: 64px;
    width: 120px;
    height: 120px;
    border-radius: 140px;
    border: 4px solid #fff;
    position: relative;
    top: -65px;
    margin: 0 auto;
}

.home-card-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #002c41;
    margin-top: -32px;
    font-family: 'Raleway';
    width: 100%;
}

.home-card-subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #bababa;
    margin-top: -8px;
    text-align: center;
    font-family: 'Raleway';
    width: 100%;
}

.height48 {
    height: 48px;
    clear: both;
}

.height24 {
    height: 24px;
    clear: both;
}

.height12 {
    height: 12px;
    clear: both;
}

.btn-folio {
    display: block !important;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    text-align: center;
    display: block;
    line-height: 30px;
    min-height: 1px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    width: 150px;
    border-radius: 23px !important;
    cursor: pointer;
    transition: all 0.3s ease1
}

.btn-folio:hover {
    text-decoration: none;
    color: #fff;
}

.btn-connect {
    background-color: #ff414f !important;
    margin-top: 24px;
    -webkit-animation-name: Pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.btn-readmore {
    background-color: #00aeef !important;
    margin-top: 12px;
}

.btn-continue {
    border: 1px solid #e5e5e5 !important;
    color: #666;
    background-color: #fff !important;
    margin-top: 12px;
}

@-webkit-keyframes Pulse {
    from {
        -webkit-box-shadow: 0 0 6px #ff414f;
    }
    50% {
        -webkit-box-shadow: 0 0 20px #d83d50;
    }
    to {
        -webkit-box-shadow: 0 0 6px #ff414f;
    }
}

div.hidden {
    display: none
}

.home-title1 {
    font-size: 54px;
    color: #8095a0;
    font-weight: 700;
    text-align: center;
    display: block;
}

.home-title2 {
    font-size: 54px;
    color: #002c41;
    font-weight: 700;
    text-align: center;
    display: block;
}

.border-top-left {
    border-left: none;
    border-top: none;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.border-top {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
}

.border-top-right {
    border-right: none;
    border-top: none;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.border-bot-left {
    border-left: none;
    border-top: none;
    border-right: 1px solid #f2f2f2;
    border-bottom: none;
}


/* mansory */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 200px;
    margin-bottom: 24px;
}

.grid-item--width2 {
    width: 600px;
}

.grid-item--width1 {
    width: 400px;
}


/* mansory */

.profile-card {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    overflow: hidden;
}

.profile-card:hover {
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

.avatar {
    background: url('../img/alex.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 240px;
}

.quote {
    background: url('../img/Steve.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 193px;
}

.location {
    background: url('../img/sg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    height: 240px
}

.contact,
.location {
    height: 330px;
}

.basic {
    height: 125px
}

.profile-card img {
    border-radius: 15px;
}

.profile-card-padding {
    padding: 16px 32px;
}

.profile-title {
    color: #5f727a;
    font-size: 18px;
    font-weight: 600;
}


/* STYLE ------------------------------------------------------- */

.style-card {
    border-top: 3px solid #f9cca1;
    background: #fff;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.footer-img1 {
    background: #fff url('../img/forest.png') no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer-img2 {}

.footer-img3 {}

.style-big-title {
    font-size: 38px;
    font-weight: 400;
    color: #888;
}

.style-sub-title {
    font-size: 18px;
    font-weight: 600;
    color: #5f727a;
    position: relative;
    top: -12px;
    left: 6px;
    text-decoration: none;
}

.style-sub-title:hover {
    color: #555;
    text-decoration: none;
}

.light-line {
    width: 50px;
    height: 4px;
    display: block;
    background-color: #e5e5e5;
    margin: 0 auto;
}

.padding-5 {
    padding-left: 5%;
    padding-right: 7%;
}

.style-icon {
    font-size: 44px;
    color: #ddd;
    transition: all 0.5s ease-in-out;
}

.style-icon1 {
    color: #24c875
}

.style-icon2 {
    color: #ff414f
}

.style-icon3 {
    color: #00aeef
}


/*
.style-icon1:hover {
    color: #24c875 !important;
}

.style-icon2:hover {
    color: #ff414f !important;
}

.style-icon3:hover {
    color: #00aeef !important;
}
*/

.style-type {
    background: transparent;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    padding-top: 24px;
}

.style-type:hover {
    background: #fff;
    opacity: 0.9;
}

.style-type a {
    text-decoration: none;
}

.style-pulse {
    animation: pulse3 5s infinite;
    -moz-animation: pulse3 5s infinite;
    border-radius: 32px;
}

@keyframes pulse3 {
    0% {
        color: #24c875 !important;
    }
    50% {
        color: #ff414f !important;
    }
    100% {
        color: #00aeef !important;
    }
}


/* NATURE ------------------------------------------------------- */

.nature-container {
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
}

.nature-content {
    padding: 16px;
}

.yellow-line {
    display: block;
    height: 2px;
    background: #f7c58e;
    width: 50px;
}

.container-radius {
    border-radius: 15px;
}

.nature-cover {
    background: #fff url('../img/nature.jpg') no-repeat right bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 240px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.nature-detail {
    /*   background: #fff url('../img/nature-detail-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 162px;  */
    background: #fafafa;
}

.nature-mino {
    display: block;
    background: #417640 url('../img/mino.png') no-repeat center center;
    background-size: 54px;
    width: 96px;
    height: 96px;
    border-radius: 92px;
    border: 4px solid #fff;
    position: relative;
    left: 32px;
    top: 125px;
}

.nature-connect-fb a {
    text-decoration: none;
    transition: all 0.5s ease;
}

.nature-connect-fb a:hover {
    display: inline-block;
    padding: 0 12px;
    border-radius: 20px;
    ;
    background-color: #f5f6f7
}

.nature-try-me {
    display: inline-block;
    line-height: 32px;
    font-size: 12px;
    border-radius: 20px;
    background: transparent;
    padding: 0 12px;
    text-decoration: none;
    transition: all 0.5s ease;
    color: #24c875;
    font-weight: 600;
    border: 1px solid #24c875;
}

.nature-try-me:hover,
.nature-try-me:focus {
    background: #24c875;
    color: #fff;
    text-decoration: none;
}

.nature-timeline-container {
    width: 100%;
    background: #34403c;
    height: 550px;
    padding: 16px;
    background: #34403c url('../img/timeline-bg.jpg') no-repeat right bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 10px;
    max-width: 290px;
}

.nature-timeline-line {
    width: 3px;
    height: 450px;
    position: absolute;
    left: 48px;
    background: #e5e5e5;
    opacity: 0.4;
    z-index: 1;
    border-radius: 10px;
}

.nature-timeline-block {
    width: 100%;
    background: transparent;
    heigth: 100px;
}

.timeline-dot {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: #fff;
    opacity: 0.92;
    margin: 0 auto;
    position: relative;
    top: 28px;
    z-index: 10
}

.timeline-current {
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background: #bbc361;
    opacity: 1;
    margin: 0 auto;
    position: relative;
    top: 4px;
    z-index: 11;
}

.timeline-old {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background: #ccc;
    opacity: 1;
    margin: 0 auto;
    position: relative;
    top: 5px;
    z-index: 11;
}

.left-block {
    width: 15%;
    float: left;
    text-align: center;
    background: transparent;
}

.right-block {
    width: 78%;
    float: left;
    text-align: left;
    padding-left: 5%;
    padding-right: 2%;
    background: transparent;
    font-size: 12px;
}

.block-2 {
    margin-top: 24px;
}

.block-3 {
    margin-top: 48px;
}

.block-4 {
    margin-top: 24px;
}

.company {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.role-highlight {
    font-size: 12px;
    font-weight: 600;
    color: #bbc361;
}

.role {
    font-size: 12px;
    font-weight: 600;
    color: #999;
}

.worktime {
    font-size: 12px;
    color: #fff;
}

.text-invert {
    color: #fff;
}

.web-exp-container {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
}

.web-exp {
    background: #20a5fb;
    width: 92px;
    height: 92px;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
}

.front-exp {
    background: #18a3b5;
    width: 92px;
    height: 92px;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
}

.mobile-exp {
    background: #24c875;
    width: 92px;
    height: 92px;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
}

.time-exp {
    font-size: 44px;
    font-weight: 400;
    color: #fff;
    font-family: 'Open Sans';
    text-shadow: 1px 1px #5a605d;
}

.year-exp {
    font-size: 14px;
    color: #fff
}

.project-role {
    color: #002c41;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
}

.project-number {
    font-size: 12px;
    color: #999;
}

.progress
{
    height:10px;
    padding-left:0;
}
.progress-bar
{
    height: 10px;
}
.progress-bar-success {
    background-color: #18a3b5 !important;
}


/*.border-leftright {border-left:1px solid #eaeaea;border-right:1px solid #eaeaea}*/